<!DOCTYPE html>
<html>
<head>
  <title>TantAndCateres</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-header">
		<header class="container home">
		  <nav class="navbar navbar-default">
		    <div class="navbar-header">
		      <%= link_to 'Tent&Cateres', root_path, class: 'navbar-brand' %>
		    </div>
		    <% if admin_signed_in? %>
		      <div class="pull-right right-buttons">

		      	<ul class="lst-item">
		      		<li><i aria-hidden="true" class="fa fa-plus-circle"></i> <span>Accounts</span></li>
		      	</ul>
		        <%= link_to 'Sign out', destroy_admin_session_path, method: 'delete', class: 'btn btn-default navbar-btn logout' %>
		      </div>
		    <% else %>
		      <div class="pull-right right-buttons">
		      	<ul class="lst-item">
		      		<li><a href="/admins/sign_in">Login</a></li>
		      		<li><a href="/admins/sign_in">Price</a></li>
		      		<li><a href="/admins/sign_in">Demo Request</a></li>
		      		<li><a href="/admins/sign_in">Contact</a></li>
		      	</ul>
		      </div>

		    <% end %>		    
		  </nav>
		</header>
	</div>
		<div class="container">
		  <%= flash_messages if show_layout_flash? %>
		  <div class="row">
		    <%= yield %>
		  </div>
		</div>
  </body>
</html>

</html>
